<nav>
  <h1>This is the nav bar!</h1>
  <div class="home-button-test">
    <a href="/"><h1>Home</h1></a>
    <a href="/login"><h1>Login</h1></a>
    <a href="/MainDashboard"><h1>Main Dashboard</h1></a>
  </div>
</nav>
