<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>This is announcements!</h1>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
