<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>This is main dashboard!</h1>
    <div class ="dashboard-wrapper">
    <div class="main-dashboard-left">
        <div class="announcements-card">
        <button class="announcements-button">Announcements</button>
        </div>

        <div class="file-drop-zone">
            
        </div>

    </div>

    <div class="main-dashboard-middle">

        <div class="timetable-card">


        </div>

        <button class="timetable-button">View Timetable</button>

        
    </div>
    <div class="main-dashboard-right">


    </div>

</div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
